<%
def welcomeLanguages()
    languageArrays = ["Welcome.", "ようこそ", "환영"]
    languageSelect = rand(2)
    welcomeString = languageArrays[languageSelect]
  return welcomeString
end
# Welcome in a different language

titleMessage = welcomeLanguages()
provide(:location, titleMessage)
%>

<h1>OpenChef</h1>
This page should eventually be filled

Attached below is a link to sign up:
