<%
titleMessage = welcomeLanguages()
provide(:location, titleMessage)
# Work on later
%>
<div class="container-fluid">
<h1>OpenChef</h1>
This page should eventually be filled

Attached below is a link to sign up.
</div>
