<%
titleMessage = welcomeLanguages()
provide(:location, titleMessage)
# Work on later
%>
  <div class="container-fluid">
    <div class="center-text">
      <h1>OpenChef</h1>
      This page should eventually be filled
      <%= link_to "Sign In", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
