<%
def welcomeLanguages()
    languageArrays = ["Welcome.", "ようこそ", "환영"]
    languageSelect = rand(2)
    welcomeString = languageArrays[languageSelect]
  return welcomeString
end
# Welcome in a different language

titleMessage = welcomeString
provide(:location, titleMessage)
%>

<h1>OpenChef</h1>
Username:
form field here lmao
Password:
form field here lmao
make a call to something haha
