/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* For some odd reason... the documentation I'm reading doesn't seem to want to touch application.css... */

@import "bootstrap";
@media (min-width:768px) {
  body {
    background-image: asset-url("cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
} // Computers

body { // mobile
  background: asset-url("cover.jpg") no-repeat center;
  min-height: 918px;
}


.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.h1 {
  font-size: 300%;
}

.mainpage {
  margin-top: 200px;
  font-size: 150%;
}

.titletext {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
